.post-excerpt{
    p{
        img{
            max-width: 33%;
            border-radius: 0 50px;
            transition: 2s;
            &:hover{
                border-radius: 4px;
                transition: 2s;
            }
        }
    }
}