h1{
    &.blog-title{
        margin: 10px 0 !important;
        &::after{
            content: '';
            border-top: 2px solid black;
            width: 100px;
            margin: auto;
            display: block;
            transition: 1s;
        }
        &:hover{
            &::after{
                border-top-color: grey;
                width: 140px;
                transition: 1s;
            }
        }

    }
   
}

h2{
    &.blog-description{
        margin: 10px !important;
        border: none !important;
        &::after{
            content: '';
            border-top: 2px solid black;
            width: 80px;
            margin: auto;
            display: block;
        }
    }
}

.post-excerpt, .post-content{    
    p{
        text-align: justify;
        margin-bottom: 20px;
        img{
            &.thumbnail{
                width: 40% !important;
        
        }
            padding: 15px;
            height: auto !important;
            border-radius: 0 50px;
            float: none;
            max-height: none !important;
            width: 100% !important;
            transition: 1s;

            &:hover{
                opacity: .5;
                border-radius: 4px;
                transition: 1s;
            }
        }
        &:first-child{
            &::first-letter{
                font-size: 3em;
                color: black;
            }
        }
    }
}

blockquote p::before {
    content: " ";
    font-family: "FontAwesome";
    font-size: 0.5em;
    vertical-align: text-top;
    /* color: grey; */
}

a {
    color: #030404 !important;
    text-decoration: none !important;
    transition: color ease 0.7s !important;
    -webkit-transition: color ease 0.7s !important;

    &:visited {
        color: #030404 !important;
        text-decoration: none !important;
        transition: color ease 0.7s !important;
        -webkit-transition: color ease 0.7s !important;
    }

    &:focus, &:hover {
        color: #000000 !important;
    }
}