	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/08/2017 06:39
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("/fonts/Flaticon.eot");
  src: url("/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/fonts/Flaticon.woff") format("woff"),
       url("/fonts/Flaticon.ttf") format("truetype"),
       url("/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-reminder-paper-with-a-pin:before { content: "\f100"; }
.flaticon-quote:before { content: "\f101"; }
.flaticon-tumblr-logo:before { content: "\f102"; }
.flaticon-goodreads-letter-logo:before { content: "\f103"; }
.flaticon-google-plus-logo:before { content: "\f104"; }
.flaticon-twitter-logo-silhouette:before { content: "\f105"; }
.flaticon-facebook-logo:before { content: "\f106"; }
.flaticon-magnifier-tool:before { content: "\f107"; }
.flaticon-chevron-arrow-up:before { content: "\f108"; }
.flaticon-chevron-arrow-down:before { content: "\f109"; }
.flaticon-chevron-pointing-to-the-left:before { content: "\f10a"; }
.flaticon-right-chevron:before { content: "\f10b"; }
