---
layout: landing
---
<div class="landblockblog land">
  <h1 style="color: white;"‌>উৎসবের দশদিক</h1>
  {{ site.description }}
  {% include social.html %}
</div>

<div class="landcont land">
  <div class="landblock land">
    <a href="https://github.com/uroybd/"><img src="/public/gitlogo.png" style="width: 25vh; height: auto;"></a>
  </div>
  <div class="landblock land">
    <img class="personalanding" src="/public/personabak.jpg" alt="persona" align="center">
  </div>
  <div class="landblock land" style="text-align: right;">
    {% for post in site.tags.quote %}
    {{ post.content }}
    <form method="get" action="https://uroybd.github.io">
      <button type="submit" style="background-color: #007fff; color: white; border: none; height:48px; font-size:1em; padding: 2px; cursor: pointer; cursor: hand;">উৎসবের হিজিবিজি</button>
    </form>
    {% endfor %}
  </div>
</div>

<div class="footer land" style="align: center">
  <p>এই ওয়েবসাইট শতভাগ মুক্ত সফ্টওয়্যারে তৈরী, গিটহাব পেজে হোস্ট করা।</p>
</div>
  
