{% assign d = post.date | date: "%-d" %}
{% assign m = post.date | date: "%-m" %}
{% case d %}
{% when '1' %}০১
{% when '2' %}০২
{% when '3' %}০৩
{% when '4' %}০৪
{% when '5' %}০৫
{% when '6' %}০৬
{% when '7' %}০৭
{% when '8' %}০৮
{% when '9' %}০৯
{% when '10' %}১০
{% when '11' %}১১
{% when '12' %}১২
{% when '13' %}১৩
{% when '14' %}১৪
{% when '15' %}১৫
{% when '16' %}১৬
{% when '17' %}১৭
{% when '18' %}১৮
{% when '19' %}১৯
{% when '20' %}২০
{% when '21' %}২১
{% when '22' %}২২
{% when '23' %}২৩
{% when '24' %}২৪
{% when '25' %}২৫
{% when '26' %}২৬
{% when '27' %}২৭
{% when '28' %}২৮
{% when '29' %}২৯
{% when '30' %}৩০
{% when '31' %}৩১
{% endcase %}
{% case m %}
  {% when '1' %}জান
  {% when '2' %}ফেব
  {% when '3' %}মার্চ
  {% when '4' %}এপ্র
  {% when '5' %}মে
  {% when '6' %}জুন
  {% when '7' %}জুল
  {% when '8' %}অগ
  {% when '9' %}সেপ্ট
  {% when '10' %}অক্ট
  {% when '11' %}নভ
  {% when '12' %}ডিস্
{% endcase %}
