{% assign d = post.date | date: "%-d" %}
{% assign m = post.date | date: "%-m" %}
{% assign y = post.date | date: "%-Y" %}
{% assign h = post.date | date: "%H" %}
{% assign n = post.date | date: "%M" %}
{% case d %}
{% when '1' %}০১
{% when '2' %}০২
{% when '3' %}০৩
{% when '4' %}০৪
{% when '5' %}০৫
{% when '6' %}০৬
{% when '7' %}০৭
{% when '8' %}০৮
{% when '9' %}০৯
{% when '10' %}১০
{% when '11' %}১১
{% when '12' %}১২
{% when '13' %}১৩
{% when '14' %}১৪
{% when '15' %}১৫
{% when '16' %}১৬
{% when '17' %}১৭
{% when '18' %}১৮
{% when '19' %}১৯
{% when '20' %}২০
{% when '21' %}২১
{% when '22' %}২২
{% when '23' %}২৩
{% when '24' %}২৪
{% when '25' %}২৫
{% when '26' %}২৬
{% when '27' %}২৭
{% when '28' %}২৮
{% when '29' %}২৯
{% when '30' %}৩০
{% when '31' %}৩১
{% endcase %}
{% case m %}
  {% when '1' %}জানুয়ারি
  {% when '2' %}ফেব্রুয়ারি
  {% when '3' %}মার্চ
  {% when '4' %}এপ্রিল
  {% when '5' %}মে
  {% when '6' %}জুন
  {% when '7' %}জুলাই
  {% when '8' %}অগাস্ট
  {% when '9' %}সেপ্টেম্বর
  {% when '10' %}অক্টোবর
  {% when '11' %}নভেম্বর
  {% when '12' %}ডিসেম্বর
{% endcase %}
{% case y %}
{% when '2015' %}২০১৫
{% when '2016' %}২০১৬
{% endcase %}
{% case h %}
{% when '00' %}রাত ১২টা
{% when '01' %}রাত ০১টা
{% when '02' %}রাত ০২টা
{% when '03' %}রাত ০৩টা
{% when '04' %}ভোর ০৪টা
{% when '05' %}ভোর ০৫টা
{% when '06' %}ভোর ০৬টা
{% when '07' %}সকাল ০৭টা
{% when '08' %}সকাল ০৮টা
{% when '09' %}সকাল ০৯টা
{% when '10' %}সকাল ১০টা
{% when '11' %}সকাল ১১টা
{% when '12' %}দুপুর ১২টা
{% when '13' %}দুপুর ০১টা
{% when '14' %}দুপুর ০২টা
{% when '15' %}দুপুর ০৩টা
{% when '16' %}বিকাল ০৪টা
{% when '17' %}বিকাল ০৫টা
{% when '18' %}সন্ধ্যা ০৬টা
{% when '19' %}সন্ধ্যা ০৭টা
{% when '20' %}রাত ০৮টা
{% when '21' %}রাত ০৯টা
{% when '22' %}রাত ১০টা
{% when '23' %}রাত ১১টা
{% endcase %}
{% case n %}
{% when '00' %} 
{% when '01' %}০১মিনিট
{% when '02' %}০২মিনিট
{% when '03' %}০৩মিনিট
{% when '04' %}০৪মিনিট
{% when '05' %}০৫মিনিট
{% when '06' %}০৬মিনিট
{% when '07' %}০৭মিনিট
{% when '08' %}০৮মিনিট
{% when '09' %}০৯মিনিট
{% when '10' %}১০মিনিট
{% when '11' %}১১মিনিট
{% when '12' %}১২মিনিট
{% when '13' %}১৩মিনিট
{% when '14' %}১৪মিনিট
{% when '15' %}১৫মিনিট
{% when '16' %}১৬মিনিট
{% when '17' %}১৭মিনিট
{% when '18' %}১৮মিনিট
{% when '19' %}১৯মিনিট
{% when '20' %}২০মিনিট
{% when '21' %}২১মিনিট
{% when '22' %}২২মিনিট
{% when '23' %}২৩মিনিট
{% when '24' %}২৪মিনিট
{% when '25' %}২৫মিনিট
{% when '26' %}২৬মিনিট
{% when '27' %}২৭মিনিট
{% when '28' %}২৮মিনিট
{% when '29' %}২৯মিনিট
{% when '30' %}৩০মিনিট
{% when '31' %}৩১মিনিট
{% when '32' %}৩২মিনিট
{% when '33' %}৩৩মিনিট
{% when '34' %}৩৪মিনিট
{% when '35' %}৩৫মিনিট
{% when '36' %}৩৬মিনিট
{% when '37' %}৩৭মিনিট
{% when '38' %}৩৮মিনিট
{% when '39' %}৩৯মিনিট
{% when '40' %}৪০মিনিট
{% when '41' %}৪১মিনিট
{% when '42' %}৪২মিনিট
{% when '43' %}৪৩মিনিট
{% when '44' %}৪৪মিনিট
{% when '45' %}৪৫মিনিট
{% when '46' %}৪৬মিনিট
{% when '47' %}৪৭মিনিট
{% when '48' %}৪৮মিনিট
{% when '49' %}৪৯মিনিট
{% when '50' %}৫০মিনিট
{% when '51' %}৫১মিনিট
{% when '52' %}৫২মিনিট
{% when '53' %}৫৩মিনিট
{% when '54' %}৫৪মিনিট
{% when '55' %}৫৫মিনিট
{% when '56' %}৫৬মিনিট
{% when '57' %}৫৭মিনিট
{% when '58' %}৫৮মিনিট
{% when '59' %}৫৯মিনিট
{% when '60' %}৬০মিনিট
{% endcase %}