<footer class="site-footer">
  <div class="inner">
    <section class="footer-description">{{ site.description}}</section>
    <section class="copyright">&copy; ২০১৭ <a href="{{site.url}}">{{ site.title}}</a>। সর্বসত্ব সংরক্ষিত।</section>
    <section>নির্বাণ থিমটি<a href="https://utsob.me" target="_blank"> উৎসব রায়</a> কর্তৃক</section>
    <section class="poweredby"><a class="icon-ghost" href="http://ghost.org/"><span class="hidden">Ghost</span></a> এর Vapor থিম থেকে পরিবর্ধিত।</section>
  </div>
</footer>
