<style type="text/css" media="screen">
 .gr_grid_container {
   /* customize grid container div here. eg: width: 500px; */
 }

 .gr_grid_book_container {
   /* customize book cover container div here */
   float: left;
   width: 39px;
   height: 60px;
   padding: 0px 0px;
   overflow: hidden;
 }
</style>
<div id="gr_grid_widget_1502964528">
  <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
  <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a title="টুকি ও ঝায়ের (প্রায়) দুঃসাহসিক অভিযান" rel="nofollow" href="https://www.goodreads.com/book/show/4785987"><img alt="টুকি ও ঝায়ের (প্রায়) দুঃসাহসিক অভিযান" border="0" src="https://images.gr-assets.com/books/1328420087s/4785987.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="আমি তপু" rel="nofollow" href="https://www.goodreads.com/book/show/3918747"><img alt="আমি তপু" border="0" src="https://images.gr-assets.com/books/1438351473s/3918747.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Tintorettor Jishu" rel="nofollow" href="https://www.goodreads.com/book/show/23454027-tintorettor-jishu"><img alt="Tintorettor Jishu" border="0" src="https://images.gr-assets.com/books/1414386681s/23454027.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="সোনার কেল্লা" rel="nofollow" href="https://www.goodreads.com/book/show/20956687"><img alt="সোনার কেল্লা" border="0" src="https://images.gr-assets.com/books/1480083870s/20956687.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="বাদশাহী আংটি (ফেলুদা, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/17902092"><img alt="বাদশাহী আংটি" border="0" src="https://images.gr-assets.com/books/1368025914s/17902092.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="আত্মপরিচয়" rel="nofollow" href="https://www.goodreads.com/book/show/29544696"><img alt="আত্মপরিচয়" border="0" src="https://images.gr-assets.com/books/1458272688s/29544696.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="এ্যাবসলিউট পাওয়ার" rel="nofollow" href="https://www.goodreads.com/book/show/24269642"><img alt="এ্যাবসলিউট পাওয়ার" border="0" src="https://images.gr-assets.com/books/1420259130s/24269642.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="হরকিশোরবাবু" rel="nofollow" href="https://www.goodreads.com/book/show/25815875"><img alt="হরকিশোরবাবু" border="0" src="https://images.gr-assets.com/books/1435573597s/25815875.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="So Long, and Thanks for All the Fish" rel="nofollow" href="https://www.goodreads.com/book/show/6091075-so-long-and-thanks-for-all-the-fish"><img alt="So Long, and Thanks for All the Fish" border="0" src="https://images.gr-assets.com/books/1327873354s/6091075.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Grokking Algorithms An Illustrated Guide For Programmers and Other Curious People" rel="nofollow" href="https://www.goodreads.com/book/show/22847284-grokking-algorithms-an-illustrated-guide-for-programmers-and-other-curio"><img alt="Grokking Algorithms An Illustrated Guide For Programmers and Other Curious People" border="0" src="https://images.gr-assets.com/books/1458747997s/22847284.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Life, the Universe and Everything (Hitchhiker's Guide, #3)" rel="nofollow" href="https://www.goodreads.com/book/show/8694.Life_the_Universe_and_Everything"><img alt="Life, the Universe and Everything" border="0" src="https://images.gr-assets.com/books/1333577589s/8694.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Mirrors of the Soul" rel="nofollow" href="https://www.goodreads.com/book/show/104857.Mirrors_of_the_Soul"><img alt="Mirrors of the Soul" border="0" src="https://images.gr-assets.com/books/1223645810s/104857.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="হুতোম প্যাঁচার নক্‌শা" rel="nofollow" href="https://www.goodreads.com/book/show/17313933"><img alt="হুতোম প্যাঁচার নক্‌শা" border="0" src="https://images.gr-assets.com/books/1419781262s/17313933.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="A Self Portrait" rel="nofollow" href="https://www.goodreads.com/book/show/87082.A_Self_Portrait"><img alt="A Self Portrait" border="0" src="https://images.gr-assets.com/books/1310554383s/87082.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Thoughts and Meditations" rel="nofollow" href="https://www.goodreads.com/book/show/842814.Thoughts_and_Meditations"><img alt="Thoughts and Meditations" border="0" src="https://images.gr-assets.com/books/1348979980s/842814.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Voice of the Master" rel="nofollow" href="https://www.goodreads.com/book/show/6395508-the-voice-of-the-master"><img alt="The Voice of the Master" border="0" src="https://images.gr-assets.com/books/1239591473s/6395508.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Broken Wings" rel="nofollow" href="https://www.goodreads.com/book/show/291.The_Broken_Wings"><img alt="The Broken Wings" border="0" src="https://images.gr-assets.com/books/1347637124s/291.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Spirits Rebellious" rel="nofollow" href="https://www.goodreads.com/book/show/376502.Spirits_Rebellious"><img alt="Spirits Rebellious" border="0" src="https://images.gr-assets.com/books/1316052216s/376502.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Secrets of the Heart" rel="nofollow" href="https://www.goodreads.com/book/show/20396.Secrets_of_the_Heart"><img alt="Secrets of the Heart" border="0" src="https://images.gr-assets.com/books/1310553960s/20396.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Between Night and Morn" rel="nofollow" href="https://www.goodreads.com/book/show/198714.Between_Night_and_Morn"><img alt="Between Night and Morn" border="0" src="https://images.gr-assets.com/books/1442549728s/198714.jpg" /></a></div>
    <noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Utsob, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
  </div>

</div>
<script src="https://www.goodreads.com/review/grid_widget/47567491.Utsob's%20bookshelf:%20read?cover_size=small&hide_link=true&hide_title=true&num_books=45&order=d&shelf=read&sort=date_added&widget_id=1502964528" type="text/javascript" charset="utf-8"></script>
