<header id="site-head">
  {% if site.logo %}
  <a id="blog-logo" href="{{ site.url }}"><div class="bloglogo" style="background: url({{ site.logo }})"></div></a>{% endif %}
  <h1 class="blog-title"><a href="{{  site.url }}">{{ site.title}}</a></h1>
  <h2 class="blog-description">{{ site.subtitle }}</h2>

  <nav class="menu" role="nav">
    <ul>{% if page.title == 'চিন্তা' %}<li>চিন্তা</li>{% else %}<li><a href="{{ site.url }}">চিন্তা</a></li>{% endif %}
      {% for pagem in site.pages %}
      {% if pagem.title %}
      {% unless pagem.title == "চিন্তা" %}
      {% if pagem.title == page.title %}
      <li>{{ pagem.title }}</li>
      {% else %}<li><a href="{{ pagem.url }}">{{ pagem.title }}</a></li>
      {% endif %}
      {% endunless %}
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
