<head>
  {% if site.github_username %}
  <!-- <script>
       var host = "{{ site.github_username }}.github.io";
       if ((host == window.location.host) && (window.location.protocol != "https:"))
       window.location.protocol = "https";
       </script> -->
  {% endif %}
  <link rel="canonical" href="{{ site.url | replace:'http://','https://'}}{{ page.url | replace:'index.html',''}}">
  <meta charset="UTF-8" />
  <meta property="fb:app_id" content="{{ site.fb_app_id }}" />
  <meta name="google-site-verification" content="Z-O3ZCEesAPJGARXPh8NWobh2_nHDMQkwt1Xd0VCsh8" />
  {% if page.title == "চিন্তা" %}
  <title>{{site.title}} - {{ site.subtitle }}</title>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{site.title}} - {{ site.subtitle }}" />
  <meta property="og:description" content="{{ site.subtitle }}" />
  <meta name="description" content="{{ site.subtitle }}" />
  <meta property="og:image"              content="{{ site.url }}/images/weblogo.jpg" />
  {% elsif page.layout == "post" %}
  <title>{{page.title}} - {{ site.title }}</title>
  <meta property="og:type" content="article" />
  <meta property="article:published_time" content="{{ page.date }}">
  <meta property='article:author' content='https://www.facebook.com/{{ site.fb_username }}' />
  <meta property='og:site_name' content='{{ site.title }}' />
  <meta property="og:title" content="{{page.title}} - {{ site.title }}" />
  <meta property="og:description" content="{{ page.content | strip_html | truncate: 150, '...'}}" />
  <meta name="description" content="{{ page.content | strip_html | truncate: 150, '...'}}" />
  {% if page.fimage %}
  <meta property="og:image" content="{{ page.fimage }}" />
  {% else %}
  <meta property="og:image" content="{{ site.url }}/images/weblogo.jpg" />
  {% endif %}
  {% elsif page.title == "আমি" %}
  <title>{{page.title}} - {{ site.title }}</title>
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:type"   content="profile" />
  <meta property="profile:first_name"   content="{{ site.first_name }}" />
  <meta property="profile:last_name"   content="{{ site.last_name }}" />
  <meta property="fb:profile_id"   content="{{ site.fb_username }}" />
  <meta property="profile:gender"   content="{{ site.gender }}" />
  <meta property="og:username"   content="{{ site.fb_username }}" />
  <meta property="og:image"              content="{{ site.url }}/images/me.jpg" />
  <meta property="og:title" content="{{ site.author.name }} - {{ site.title }}" />
  <meta property="og:description" content="{{ site.author.bio }}" />
  <meta name="description" content="{{ site.author.bio }}" />
  {% else %}
  <title>{{page.title}} - {{ site.title }}</title>
  <meta property="og:title" content="{{page.title}} - {{ site.title }}" />
  <meta property="og:description" content="{{ site.subtitle }}" />
  <meta name="description" content="{{ site.subtitle }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image"              content="{{ site.url }}/images/weblogo.jpg" />
  {% endif %}
  <meta property="fb:pages" content="211544519324446" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="minimum-scale=1, width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta property="og:url"                content="{{ site.url }}{{ page.url }}" />
  <link rel="stylesheet" href="{{ site.url }}/css/normalize.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/screen.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/monokai.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/custom.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/extra.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.js" integrity="sha256-JRmDZdHmGahZjoYtQActan4Leibhl+7jZOETtJT3DCY=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.css" integrity="sha256-8aNQFtmxcOMVoOhLD4mrHqaKC2Ui++LmlQsoKTqxwIE=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/earlyaccess/notosansbengaliui.css" rel="stylesheet"/>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-7208187903817029",
          enable_page_level_ads: true
     });
</script>
</head>
