<div class="sidebar" align="center">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
<img src="sidebar-img.jpg" height="200" />
      <p class="lead" align="center" style="font-size: 1.50rem;">{{ site.tagline }}</p>
      <a href="{{ site.url }}"><h1 align="center">{{ site.title }}</h1></a>
      <div class="imgWrap">
        <img class="persona"
             {%if page.tags %}
             {% if page.tags contains "যন্ত্রচারী" %}
	     src="/public/coden.png"
	     {% elsif page.tags contains "কবিতা" %}
	     src="/public/poemn.png"
             {% elsif page.tags contains "হিজিবিজি" %}
             src="/public/hijibijin.png"
             {% elsif page.tags contains "গল্প" %}
             src="/public/storyn.png"
	     {% else %}
	     src="/public/writingn.png"
	     {% endif %}
            {% else %}
            src="/public/persona.jpg"
             {% endif %} alt="persona" align="center">
      </div>
      <p class="desc">{{ site.description }}</p>
    </div>
    {% include social.html %}
    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %}.active{% endif %}">
        <a href="/">চিন্তার পৃষ্ঠতল</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
      {% if node.title != "ফলাফল" %}
      {% if node.title != "আমি" %}
            <li class="sidebar-nav-item{% if page.url == node.url %}.active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            
            {% endfor %}
      <!--li class="sidebar-nav-item"><a href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">GitHub project</a></li>
      <li class="sidebar-nav-item">Currently v{{ site.version }}</li-->
    </ul>
  </div>
</div>
