<div id="social" align="center">
	<map name="social">
    <area shape="rect" coords="0,0,32,32" href="https://www.facebook.com/utsargo.roy" title="Facebook" alt="Facebook" target="_blank" />
    <area shape="rect" coords="32,0,64,32" href="https://plus.google.com/u/0/+UtsargoRoy" title="Google+" alt="Google+" target="_blank" />
    <area shape="rect" coords="64,0,96,32" href="https://github.com/utsargo" title="Github" alt="Github" target="_blank" />
    <area shape="rect" coords="128,0,160,32" href="mailto:royutsargo@gmail.com" title="Mail" target="_top" alt="Mail" />
    <area shape="rect" coords="160,0,192,32" href="http://www.twitter.com/uroybd" title="Twitter" target="_blank" alt="Twitter" />
	</map>
	<img src="/public/social.png" alt="Social Links" usemap="#social" />
	<p><b>royutsargo@gmail.com</b></p>
</div>
