<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
<div class="se-pre-con"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '457260967807558',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

{% include sidebar.html %}

    <div class="content container">
            {% include search-form.html %}
      {{ content }}
    </div>
<a href="#" class="back-to-top"><img src="/public/backtotop.png"></a>

<script>
var amountScrolled = 300; $(window).scroll(function() {
 	if ( $(window).scrollTop() > amountScrolled ) {
 		$('a.back-to-top').fadeIn('slow');
 	} else {
 		$('a.back-to-top').fadeOut('slow');
 	}
 });

$('a.back-to-top').click(function() { 	$('body, html').animate({
 		scrollTop: 0
 	},
 700);
 	return false;
 });
</script>
</body>
</html>
